.footer {
    background: var(--general-text);
}

.footer__inner {
    padding-top: 50px;
    padding-bottom: 58px;

}

.footer__logo img {
    width: 100%;
    width: 183px;
    height: 77px;
    margin-bottom: 25px;
}

.footer__logo-text {
    display: block;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-bg);
    margin-bottom: 30px;
    transition: var(--transition);
}

.footer__logo-text:hover {
    color: var(--accent-color);
}

.footer-content {
    display: flex;
    gap: 100px;
}

.footer__col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 101px;
}


.footer__col-item-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-bg);
    margin-bottom: 10px;
}

.footer__col-link {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 15px;
    color: var(--general-bg);
    line-height: 1.4;
    transition: var(--transition);
}

.footer__col-link:hover {
    color: var(--accent-color);
}


.footer__col-tel {

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-bg);
}

.footer__col-number {
    display: block;
    font-family: var(--font-family);
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 54px;
    transition: var(--transition);
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.socials {
    margin-bottom: 55px;
}

.socials__list {
    display: flex;
    gap: 20px;
}

.socials__link {
    transition: var(--transition);
}

.socials__link:hover .bg {
    fill: var(--accent-color);
}

.footer-col-copy {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--general-bg);
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 529px;
}