.header__top {
    background: var(--general-text);
    color: var(--general-bg);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.header__logo {
    display: block;
    max-width: 183px;

}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 30px;
}

.nav__link {
    font-family: var(--second-family);
    font-size: 20px;
    display: block;
    padding: 5px 0;
}

.nav__link:hover {
    color: var(--accent-color);
}


.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.burger-icon path {
    transition: var(--transition);
}

.burger-icon:hover path {
    stroke: var(--accent-color);
}


.bag {
    display: block;
    max-width: 48px;
    position: relative;
    z-index: 1;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    border-radius: 50%;
    background-color: var(--general-bg);
    /* Красный цвет индикатора */
    color: #000;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    min-width: 9px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s, var(--transition);
    pointer-events: none; 
}

/* Показываем счетчик, когда там есть товары */
.cart-count.active {
    opacity: 1;
}




/* .bag::before {
    content: '1';
    text-align: center;
    font-weight: 600;
    color: #000;
    position: absolute;
    top: 3px;
    right: -13px;
    z-index: -1;
    width: 19px;
    height: 19px;
    background: var(--general-bg);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.bag:hover::before {
    opacity: 1;
}


.bag path {
    transition: var(--transition);
}

.bag:hover path {
    stroke: var(--accent-color);
} */