@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";








:root {
    --general-text: #111;
    --accent-text: #000;
    --general-bg: #fff;
    --accent-bg: #f8f8f8;
    --accent-color: #c5358c;

    --font-family: "Open Sans", sans-serif;
    --second-family: "NAMU", sans-serif;
    /* --input-color: ;
    /* --accent-color-2: #ababab; */
    --transition: all .4s;
    /* --border-radius: 20px;  */

}

.body {
    /* font-family: "Open Sans", sans-serif;
    line-height: 1.5; */
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;

}

.container {
    max-width: 1390px;
    margin: 0 280px;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    background: var(--accent-color);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-bg);
    padding: 15.5px 51.5px;
    height: 64px;
    width: 235px;
}

/* ------------------------------------------------- */


.banner {
    background: url(../img/bg/banner\ .png) 50% 100% / cover no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.banner__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.banner__content {
    max-width: 556px;
}

.banner__title {
    font-family: var(--second-family);
    font-weight: 132;
    font-size: 46px;
    line-height: 1.03;
    color: var(--general-text);
    margin-bottom: 40px;
}

.banner__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.3;
    color: var(--general-text);
    margin-bottom: 90px;
    max-width: 554px;
}

.banner__img {
    max-width: 715px;
    height: 850px;

}

/* --------------------------------- */
.catalog {
    margin-bottom: 150px;
}

.catalog__inner {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 20px;
}

.catalog__card {
    border-radius: 10px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05), 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
}

.catalog__card:hover .card__inner {
    background-color: var(--general-text);
}

.catalog__card:hover .card__title {
    color: var(--general-bg);
}

.catalog__card:hover .card__text {
    color: var(--general-bg);
}

.catalog__card:hover .card__control path {
    fill: var(--general-bg);
}

.card__inner {
    border-radius: 0 0 10px 10px;
    width: 325px;
    height: 130px;
    padding: 19px 40px 29px;
    transition: background-color var(--transition);

}

.card__content {

    max-width: 325px;
    height: 130px;
}

.card__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 30px;
    color: var(--general-text);
    max-width: 245px;
    margin-bottom: 12px;
    transition: color var(--transition);
}

.card__down {
    display: flex;
}

.card__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-text);
    max-width: 132px;
    margin-right: 20px;
    transition: color var(--transition);
}

.card__control {
    margin-bottom: -14px;
    width: 100%;
    width: 24px;
    height: 24px;

}

/* ---------------------------------------------*/

.main__opinion {
    background: var(--accent-bg);
    margin-bottom: 150px;
}

.opinion__inner {
    display: flex;

}

.opinion__content {
    margin-top: 150px;
}

.opinion__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--general-text);
    margin-bottom: 40px;
    width: 690px;
}

.opinion__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--accent-text);
    width: 670px;
}

.opinion__img {
    width: 100%;
    margin-top: 150px;

}

/* ----------------------------------- */


.advantage {}

.advantage__inner {}

.advantage__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--general-text);
    margin-bottom: 60px;
}

.advantage__content {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 150px;
}

.advantage__card {
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    background: var(--general-bg);
    width: 440px;
    height: 280px;
    justify-items: center;
    align-items: center;
    padding: 26px 80px 46px;
}

.advantage__advant img {
    margin-bottom: 15px;
}

.advantage__titletitle {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: var(--accent-text);
    margin-bottom: 13px;

}

.advantage__text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    color: var(--accent-text);

}


/* ---------------------------------------------------- */


.offers {
    background: var(--accent-bg);
    padding-top: 150px;
}

.offers__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 46px;
    line-height: 1.1;
    color: var(--general-text);
    margin-bottom: 50px;
}

.offers__title span {
    color: #c5358c;
}

/* ------------------------------------------------------------- */

.swiper {
    width: 100%;
    padding-bottom: 50px;

}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--general-text);
    border-radius: 31px;
    width: auto;
    padding: 4px 20px;
    transition: all var(--transition);
}

.swiper-slide:hover {
    border-color: var(--accent-color);
}

.swiper-slide:hover .swiper__link {
    color: var(--accent-color);
}

.swiper__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--general-text);
}





/* ------------------------------------------- */
/* 

/* Контейнер для кнопки и самого списка */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    margin-left: 1088px;
    max-width: 273px;

}

/* Стили для кнопки */
.dropbtn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--general-text);
    border: 1px solid #c5358c;
    border-radius: 3px;
    padding-block: 7px 8px;
    padding-inline: 25px;
    width: 273px;
    height: 40px;
    transition: var(--transition);
}

.dropbtn:hover {
    color: #c5358c;
}

.dropbtn svg {
    position: absolute;
    margin-left: 18px;
    margin-top: 9px;
}

/* Стили для самого выпадающего контента (скрываем по умолчанию) */
.dropdown-content {
    display: none;
    /* Скрываем меню */
    position: absolute;
    /* Позиционируем относительно родителя (.dropdown) */
    background-color: #fdfdfd;
    border-top: 1px solid #ccc;
    width: 273px;
    height: 40px;
    z-index: 1;
    /* Чтобы меню было поверх другого контента */
}

/* Стили для ссылок внутри списка */
.dropdown-content a {
    display: block;
    /* чтобы каждая ссылка была на новой строке */
    border-top: 1px solid #ccc;
    width: 273px;
    height: 40px;
    background: #fdfdfd;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--general-text);
    align-items: center;
    padding-block: 7px 8px;
    padding-inline: 25px;
}

/* Меняем цвет ссылок при наведении */
.dropdown-content a:hover {
    color: var(--accent-color);
    font-weight: 400;
}

.show {
    display: block;
}

/* Класс, который будет добавляться через JS для показа меню */

/* ------------------------------------------------------------------------------- */

.myswiper-wrapper {
    width: 100%;
    height: 1650px;
}

.myswiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    display: block;
    max-width: 440px;
    height: 814px;
    border-radius: 3px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    background: var(--general-bg);
}

.product-text {
    max-width: 360px;
    height: 99px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    line-height: 1.36;
    color: var(--general-text);
    margin: 40px 40px 0 40px;
}

.price {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    height: 173px;
}

.text {
    max-width: 135px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #68ae5c;
    margin: 38px 95px 20px 40px;
    white-space: nowrap;
    transition: color var(--transition);
}

.default-text {
    margin-left: 20px;
}


.hover-text {
    display: none;
}

.text:hover .hover-text {
    display: inline;
    margin-left: 20px;
    cursor: pointer;
    color: #DC5B5B;
}

.text:hover .default-text {
    display: none;
}

.text:hover circle {
    fill: #DC5B5B;
    transition: fill var(--transition);
}

.text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding-block: 10px;
    padding-inline: 20px;
    width: 113px;
    height: 48px;
    background: var(--accent-color);
    margin: 25px 40px 26px 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--accent-bg);

}

.text-3 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    margin: -20px 74px 40px 40px;
}

.text-4 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    text-decoration: line-through;
    color: #ababab;
    margin: 0px 40px 43px 0px;
}

.bottom-card {
    display: flex;
    justify-content: space-between;

}

.counter {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px;
    width: 220px;
    height: 64px;
}

.minus {
    stroke-width: 2px;
    stroke: #ababab;
}
.count {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
line-height: 0;
color: var(--general-text);
}
.plus {
    stroke-width: 2px;
    stroke: var(--general-text);
}


.basket-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding-block: 10px;
    padding-inline: 20px;
    width: 220px;
    height: 64px;
    background: var(--general-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #f8f8f8;
}

.myswiper-nav {
    display: flex;
    margin-top: 130px;
    padding-bottom: 150px;

}

.myswiper-button-prev {
    margin-right: 20px;
}

.myswiper-button-next {
    margin-right: 30px;

}

.myswiper-pagination {}


/* ------------------------------------------------------------------------------------------ */
.main__feedback {}

.feedback {}

.feedback__inner {}

.feedback__title {
    display: block;
    align-items: start;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--general-text);
    margin-top: 150px;
    margin-bottom: 20px;
}

.feedback__title span {
    color: #c5358c;
}

.feedback-list {
    margin-bottom: 80px;
}

.feedback-list__item {
    display: flex;
}

.feedback__name {
    width: 161px;
    height: 71px;
    margin-bottom: 50px;
    margin-right: 70px;

}

.feedback__pag {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    color: var(--general-text);
}

.feedback__star {
    display: block;
    width: 161px;
    height: 30px;

}

.feedback__button {

    border: 1px solid var(--general-text);
    border-radius: 3px;
    padding-block: 10px;
    padding-inline: 20px;
    width: 270px;
    height: 64px;
    background: var(--general-bg);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-text);
}

.feedback__line {}

.feedback-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    padding-block: 10px;
    padding-inline: 20px 10px;
    width: 311px;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-text);
    background: var(--general-bg);
    margin-left: 525px;
    margin-bottom: 150px;
}

.feedback-button__img {
    margin-left: 30px;
}

/* ----------------------------------------------------------------- */
.main__faq {
    background: var(--accent-bg);
}

.faq__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--general-text);
    padding-top: 150px;
    margin-bottom: 59px;
}


.faq__tab-controls {
    padding-bottom: 150px;
}

.accordion-list {
    padding-bottom: 150px;
}

.accordion-list__control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 1360px;
    padding: 34px 210px 34px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--general-text);
    transition: var(--transition);
}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
}

.accordion-list__content {
    /* display: none; */
}

.accordion-content {
    display: none;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 20px;
}


/* ------------------------------------------------------------------------------------- */
.main__news {}

.news {}

.news__inner {}

.news__content {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
}

.news__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--general-text);
    margin: 150px 1465px 70px 0;

}

.content-item img {
    border-radius: 3px;
    width: 440px;
    height: 294px;
    margin-bottom: 30px;
}

.content-item__data {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #909090;
    margin-bottom: 20px;
}

.content-item__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--general-text);
    width: 353px;
    margin-bottom: 15px;
}

.content-item__text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    color: var(--accent-text);
    width: 440px;
    margin-bottom: 20px;
}

.content-item__link {
    width: 123px;
    height: 25px;
    color: #c5358c;
    text-decoration: underline;
    stroke-width: 1px;
}

/* ------------------------------------------------- */
.main__contact {
    background: var(--accent-bg);
    padding: 150px 115px 114px 0;
}

.contact__inner {
    display: flex;
    gap: 136px;
}

.contact__body {}

.contact__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 35px;
    color: var(--general-text);
    margin-bottom: 50px;
}

.contact__form {}

.contact__input {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #ababab;
    background: var(--accent-bg);
    margin-bottom: 15px;
}

.input-name {
    margin-bottom: 30px;
}

.input-tel {
    margin-bottom: 70px;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 10px;
    width: 277px;
    height: 64px;
    background: var(--general-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--general-bg);
    transition: var(--transition);
}

.contact-button:hover {
    background: var(--accent-color);
}

.contact__title-news {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 35px;
    color: var(--general-text);
    margin-bottom: 50px;
}

.input-mail {
    margin-bottom: 70px;
}

.contact-button-news {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 10px;
    width: 244px;
    height: 64px;
    background: var(--general-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--general-bg);
    margin-bottom: 35px;
    transition: var(--transition);
}

.contact-button-news:hover {
    background: #ababab;
}

.contact-button-news:active {
    background: var(--accent-color);
    transition: var(--transition);
}

.contact__check-label {
    display: flex;
    width: 559px;
    height: 38px;
}

.contact__checkbox {
    appearance: none;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
}

.contact__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("../img/icons/check.svg") 50% 50% no-repeat;
    opacity: 0;
    transition: var(--transition);
}

.contact__checkbox:checked::before {
    opacity: 1;
}

.checkbox-text {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
}

/* ---------------------------------------------------------------- */