@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";








:root {
    --general-text: #111;
    --accent-text: #000;
    --general-bg: #fff;
    --accent-bg: #f8f8f8;
    --accent-color: #c5358c;

    --font-family: "Open Sans", sans-serif;
    --second-family: "NAMU", sans-serif;
    /* --input-color: ;
    /* --accent-color-2: #ababab; */
    --transition: all .4s;
    /* --border-radius: 20px;  */

}



html {
    scroll-behavior: smooth;
    /* плавный скролл по странице с ссылок */
    scroll-padding-top: 100px;
    /* при переходе на какой-то раздел(ссылки) текст не прилипает к верху */
}


.body {

    /* font-family: "Open Sans", sans-serif;
    line-height: 1.5; */
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;

}

.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.inner {
    padding: 0 265px;
}



/* ------------------------------------------------- */


.banner {
    background: url(../img/bg/banner.png) 100%/ cover no-repeat;
    background-color: #D9D9D9;
    background-position-y: -712%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 150px;
}

.banner__content {
    max-width: 556px;
    height: 850px;
    padding-top: 250px;
}

.banner__title {
    font-family: var(--second-family);
    font-weight: 132;
    font-size: 46px;
    line-height: 1.03;
    color: var(--general-text);
    margin-bottom: 40px;
}

.banner__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.3;
    color: var(--general-text);
    margin-bottom: 90px;
    max-width: 554px;
}

.banner__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    background: var(--accent-color);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-bg);
    padding: 15.5px 51.5px;
    height: 64px;
    width: 235px;
}


/* --------------------------------- */
.catalog {
    margin-bottom: 150px;
}

.catalog__inner {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    gap: 20px;

}

.catalog__card {
    border-radius: 10px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05), 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    max-width: 325px;
    max-height: 454px;
    overflow: hidden;
}

.catalog__card:hover .card__inner {
    background-color: var(--general-text);
}

.catalog__card:hover .card__title {
    color: var(--general-bg);
}

.catalog__card:hover .card__text {
    color: var(--general-bg);
}

.catalog__card:hover .card__control path {
    fill: var(--general-bg);
}

.catalog__card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.card__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0 0 10px 10px;
    max-width: 325px;
    max-height: 130px;
    padding: 19px 40px 29px;
    transition: background-color var(--transition);

}

.card__content {

    max-width: 325px;
    max-height: 130px;
}

.card__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 30px;
    color: var(--general-text);
    max-width: 245px;
    transition: color var(--transition);
}

.card__down {
    display: flex;
    /* align-items: flex-start; */
    padding-top: 12px;
}

.card__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-text);
    max-width: 132px;
    margin-right: 20px;
    transition: color var(--transition);
}

.card__control {
    width: 100%;
    max-width: 24px;
    height: 24px;

}

/* ---------------------------------------------*/

.main__opinion {
    background: url(../img/bg/expert.png) 100%/ cover no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-width: 1920px;
    height: 850px;
    margin-bottom: 150px;
}


.opinion__inner {
    display: flex;

}

.opinion__content {
    margin-top: 150px;
}

.opinion__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 45px;
    color: var(--general-text);
    margin-bottom: 40px;
    max-width: 744px;
}

.opinion__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--accent-text);
    max-width: 670px;
}



/* ----------------------------------- */


.advantage {}

.advantage__inner {}

.advantage__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--general-text);
    margin-bottom: 60px;
}

.advantage__content {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 150px;
}

.advantage__card {
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    background: var(--general-bg);
    width: 440px;
    height: 280px;
    justify-items: center;
    align-items: center;
    padding: 26px 80px 46px;
}

.advantage__advant {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage__advant img {

    margin-bottom: 15px;
}

.advantage__titletitle {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: var(--accent-text);
    margin-bottom: 13px;

}

.advantage__text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    color: var(--accent-text);

}


/* ---------------------------------------------------- */


.offers {
    background: var(--accent-bg);
    padding-top: 150px;
}

.offers__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 46px;
    line-height: 1.1;
    color: var(--general-text);
}

.offers__title span {
    color: #c5358c;
}

/* ------------------------------------------------------------- */

.choice {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;

}

.choice__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid var(--general-text);
    border-radius: 31px;
    width: auto;
    padding: 4px 20px;
    transition: all var(--transition);
}

.choice__slide:hover {
    border-color: var(--accent-color);
}

.choice__slide:hover .choice__link {
    color: var(--accent-color);
}

.choice__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--general-text);
}





/* ------------------------------------------- */
/* 

/* Контейнер для кнопки и самого списка */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    margin-left: 1088px;
    max-width: 273px;
    z-index: 2;

}

/* Стили для кнопки */
.dropbtn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--general-text);
    border: 1px solid #c5358c;
    border-radius: 3px;
    padding-block: 7px 8px;
    padding-inline: 25px;
    width: 273px;
    height: 40px;
    transition: var(--transition);
}

.dropbtn:hover {
    color: #c5358c;
}

.dropbtn svg {
    position: absolute;
    margin-left: 18px;
    margin-top: 9px;
}

/* Стили для самого выпадающего контента (скрываем по умолчанию) */
.dropdown-content {
    display: none;
    /* Скрываем меню */
    position: absolute;
    /* Позиционируем относительно родителя (.dropdown) */
    background-color: #fdfdfd;
    border-top: 1px solid #ccc;
    width: 273px;
    height: 40px;
    z-index: 1;
    /* Чтобы меню было поверх другого контента */
}

/* Стили для ссылок внутри списка */
.dropdown-content a {
    display: block;
    /* чтобы каждая ссылка была на новой строке */
    border-top: 1px solid #ccc;
    width: 273px;
    height: 40px;
    background: #fdfdfd;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--general-text);
    align-items: center;
    padding-block: 7px 8px;
    padding-inline: 25px;
}

/* Меняем цвет ссылок при наведении */
.dropdown-content a:hover {
    color: var(--accent-color);
    font-weight: 400;
}

.show {
    display: block;
}

/* Класс, который будет добавляться через JS для показа меню */

/* ------------------------------------------------------------------------------- */


.mySwiper-wrap {
    width: 100%;
    height: 1650px;
}


.product-card {
    max-width: 440px;
    max-height: 814px;
}

.card {
    display: block;
    max-width: 440px;
    max-height: 814px;
    border-radius: 3px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    background: var(--general-bg);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.product-text {
    max-width: 360px;
    height: 99px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    line-height: 1.36;
    color: var(--general-text);
    margin: 40px 40px 0 40px;
}

.price {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    max-height: 173px;
}

.text {
    max-width: 135px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #68ae5c;
    margin: 38px 95px 20px 40px;
    white-space: nowrap;
    transition: color var(--transition);
}

.default-text {
    margin-left: 20px;
}


.hover-text {
    display: none;
}

.text:hover .hover-text {
    display: inline;
    margin-left: 20px;
    cursor: pointer;
    color: #DC5B5B;
}

.text:hover .default-text {
    display: none;
}

.text:hover circle {
    fill: #DC5B5B;
    transition: fill var(--transition);
}

.text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding-block: 10px;
    padding-inline: 20px;
    max-width: 113px;
    height: auto;
    background: var(--accent-color);
    margin: 25px 40px 26px 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--accent-bg);

}

.text-3 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    margin: -20px 74px 40px 40px;
}

.text-4 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    text-decoration: line-through;
    color: #ababab;
    margin: 0px 40px 43px 0px;
}

.bottom-card {
    display: flex;
    justify-content: center;
    background: var(--general-bg);
}


.counter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 64px;
    gap: 50px;
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px;
}


.counter__button {
    cursor: pointer;
}

.counter__button-minus {
    padding-bottom: 10px;
}
.counter__button-minus.is-disabled {
    opacity: 0.3;      /* Делаем полупрозрачной */
    filter: grayscale(1); /* Закрашиваем в серый */
    cursor: not-allowed;  /* Меняем курсор */
}

.counter__inp input {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 0;
    color: var(--general-text);
    width: 26.5px;
}


.basket-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding-block: 10px;
    padding-inline: 20px;
    width: 220px;
    height: 64px;
    background: var(--general-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #f8f8f8;
    transition: var(--transition);
}

.basket-button:hover {
    background: var(--accent-color);
}

.mySwiper-nav {
    display: flex;
    margin-top: 130px;
    padding-bottom: 150px;

}

.icon-btn {
    padding-bottom: 1px;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    padding-block: 10px;
    padding-inline: 0px;
    width: 64px;
    height: 64px;
    transition: fill var(--transition);
}

.icon-btn:hover {
    border-color: #ababab;
}

.icon-btn:active {
    border-color: var(--accent-color);
}

.mySwiper-prev {
    margin-right: 20px;
    background: transparent;

}

.mySwiper-prev:hover path {
    fill: #ababab;
}

.mySwiper-next {
    margin-right: 30px;
    background: transparent;

}

.mySwiper-next:hover path {
    fill: #ababab;
}

.icon-btn:active path {
    fill: var(--accent-color);
}

.mySwiper-pagination {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-text);
    width: 80px;
    margin-top: 20px;

}




/* ------------------------------------------------------------------------------------------ */




.feedback__inner {
    max-width: 1360px;
}

.feedback__title {
    display: block;
    align-items: start;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--general-text);
    margin-top: 150px;
    margin-bottom: 20px;
}

.feedback__title span {
    color: #c5358c;
}

.feedback-list {
    margin-bottom: 80px;
}

.feedback-list li:nth-child(n+9) {
    display: none;
}

.list-line {
    /* margin-top: 40px;
    max-width: 1360px;
    height: 1px;
    width: 100%;
    shape-rendering: crispEdges;
     */
}

.feedback-list.is-open li {
    display: flex;
}

.feedback-list__item {
    display: flex;
    padding-top: 40px;
}

.feedback-list__itemm {
    display: flex;
}

.feedback__name {

    width: 161px;
    height: 71px;
    margin-right: 70px;

}

.feedback__rating {
    display: flex;
    gap: 1px;
}

.feedback__pag-name {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--general-text);
    margin-bottom: 15px;
}

.star {
    cursor: pointer;
    width: 161px;
    height: 30px;
    transition: transform 0.2s;
}

.star:hover {
    transform: scale(1.1);
}

.star svg path {
    fill: #ccc;
    transition: fill 0.2s;
}

.star.hover svg path {
    fill: #363636;
}

.star.active svg path {
    fill: var(--accent-text);
}


.feedback-cont {
    display: flex;
    margin-left: auto;
    width: 100%;
}

.feedback__content-title {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: var(--general-text);
    margin-bottom: 10px;

}

.feedback__data {
    display: block;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #909090;
    margin-left: auto;
}

.feedback__content-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.4;
    color: var(--general-text);
    max-width: 785px;
    margin-bottom: 30px;
}

.feedback__gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    justify-content: start;
    gap: 20px;
    padding-bottom: 10px;
}

.feedback__slide {
    display: block;
    border-radius: 3px;
    width: 95px;
    height: 95px;

}

.feedback__slide img {
    width: 100%;
}

.feedback__content-link {
    display: block;
    color: var(--accent-color);
    text-decoration: underline;
}

.feedback__line {

    margin-top: 40px;
    max-width: 1360px;
    height: 1px;
    width: 100%;
    shape-rendering: crispEdges;
}

.feedback__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    padding-block: 10px;
    padding-inline: 20px;
    width: 270px;
    height: 64px;
    background: var(--general-bg);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-text);
    transition: var(--transition);
}

.feedback__button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}


.feedback-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    padding-block: 10px;
    padding-inline: 20px 10px;
    width: 311px;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--general-text);
    background: var(--general-bg);
    margin-left: 525px;
    margin-bottom: 150px;
    position: relative;
    transition: var(--transition);
}

.feedback-button__img {
    margin-left: 30px;
    padding-top: 5px;
}

.feedback-button__img path {
    transition: var(--transition);
}

.feedback-button:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.feedback-button:hover path {
    fill: var(--accent-color);
}



/* ----------------------------------------------------------------- */
.main__faq {
    background: var(--accent-bg);
}

.faq__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--general-text);
    padding-top: 150px;
    margin-bottom: 59px;
}

.accordion-list {
    padding-bottom: 150px;
}

.accordion-list svg {
    width: 100%;
    shape-rendering: crispEdges;
}

.accordion-list_item {}



.accordion-list__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    max-width: 1360px;
    padding: 31px 0px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--general-text);
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__link {
    /* padding-bottom: 40px; */

}

.accordion-list__item--opened {
    /* padding-bottom: 30px; */
    transition: var(--transition);
}

.accordion-list__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--general-text);
}

.accordion-list__icon {
    max-width: 36px;
    max-height: 36px;
    transition: var(--transition);
}

.accordion-list__item--opened:hover .accordion-list__icon {
    transform: rotate(45deg);
}

.accordion-list__item--opened:hover .accordion-list__icon path {
    fill: var(--accent-color);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.4;
    width: 1000px;
    transition: var(--transition);
}

/* ------------------------------------------------------------------------------------- */

.news__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;
}

.news__content .content-item:nth-child(n+4) {
    display: none;
}

.news__content.is-open .content-item {
    display: block;
}

.news__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--general-text);
    margin: 150px 1465px 70px 0;

}

.content-item img {
    border-radius: 3px;
    width: 100%;
    max-width: 440px;
    height: 294px;
    margin-bottom: 30px;
}

.content-item__data {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #909090;
    margin-bottom: 20px;
}

.content-item__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--general-text);
    width: 353px;
    margin-bottom: 15px;
}

.content-item__text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    color: var(--accent-text);
    width: 440px;
    margin-bottom: 20px;
}

.content-item__link {
    width: 123px;
    height: 25px;
    color: #c5358c;
    text-decoration: underline;
    stroke-width: 1px;
}

/* ------------------------------------------------- */
.main__contact {
    background: var(--accent-bg);
    padding: 150px 0 114px;
}

.contact__inner {
    display: flex;
    gap: 136px;
}

.contact__form {
    margin-bottom: 70px;
}

.contact__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 35px;
    color: var(--general-text);
    margin-bottom: 50px;
}

.contact__label {
    display: block;

}

.contact__input {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #ababab;
    background: var(--accent-bg);
    margin-bottom: 15px;
}

.input-name {
    margin-bottom: 30px;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 10px;
    width: 277px;
    height: 64px;
    background: var(--general-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--general-bg);
    transition: var(--transition);
}

.contact-button:hover {
    background: var(--accent-color);
}

.contact__title-news {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 35px;
    color: var(--general-text);
    margin-bottom: 50px;
}

.input-mail {
    margin-bottom: 70px;
}

.contact-button-news {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 10px;
    width: 244px;
    height: 64px;
    background: var(--general-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--general-bg);
    margin-bottom: 35px;
    transition: var(--transition);
}

.contact-button-news:hover {
    background: #ababab;
}

.contact-button-news:active {
    background: var(--accent-color);
    transition: var(--transition);
}

.contact__check-label {
    display: flex;
    max-width: 559px;
    height: 38px;
}

.contact__checkbox {
    appearance: none;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
}

.contact__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("../img/icons/check.svg") 50% 50% no-repeat;
    opacity: 0;
    transition: var(--transition);
}

.contact__checkbox:checked::before {
    opacity: 1;
}

.checkbox-text {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
}

/* ---------------------------------------------------------------- */
@media (max-width: 1800px) {

    .banner {
        /* background: url(../img/bg/banner\ h\ .png) 50%/ cover no-repeat; */
        background-color: #DDDDDD;
    }

}

@media (max-width: 1650px) {

    .opinion__title {
        font-size: 35px;
    }

    .opinion__text {
        font-size: 16px;
        max-width: 500px;
        padding-bottom: 160px;
    }
}

@media (max-width: 1400px) {

    .header__inner {
        justify-content: space-between;
        padding: 0 70px;
    }

    .header__nav {
        position: fixed;
        top: 0;
        left: -100vh;
        bottom: 0;
        min-width: 300px;
        padding-top: 100px;
        padding-left: 30px;
        background-color: var(--accent-text);
        transition: var(--transition);
        z-index: 99;
    }

    .header__nav.open {
        left: 0px;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .burger-wrapper {
        max-width: 50px;
        /* Те же размеры, что у SVG */
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-icon {
        display: block;

    }

    .linee {
        transition: 0.3s;
        transform-origin: center;
    }

    .burger-icon.active .top {
        transform: translateY(11.5px) rotate(45deg);
    }

    .burger-icon.active .middle {
        opacity: 0;
    }

    .burger-icon.active .bottom {
        transform: translateY(-3.5px) rotate(-45deg);
    }

    .burger-icon.active {
        position: fixed;
        top: 10px;
        left: 230px;
        z-index: 110;
        transition: all 1.5s;
    }

    .bag {
        margin-left: auto;
    }

    .banner {
        /* background: url(../img/bg/banner\ h\ .png) 60%/ cover no-repeat; */
    }

    .banner__inner {
        padding: 0 70px;
    }

    .banner__content {
        padding-top: 200px;
    }

    .catalog__inner {
        grid-template-columns: repeat(4, minmax(140px, 1fr));
        gap: 20px;
        padding: 0 70px;
    }

    .card__inner {
        padding: 19px 25px 29px;

    }

    .card__title {
        font-size: clamp(13px, 2vw, 30px);
    }

    .card__text {
        font-size: clamp(11px, 1.7vw, 24px);
    }

    .card__control svg {
        width: clamp(13px, 2vw, 30px);
        height: clamp(13px, 2vw, 30px);
    }

    .opinion__inner {
        padding: 0 70px;
    }

    .main__opinion {
        background: url(../img/bg/expert.png) 90%/ cover no-repeat;
        max-height: 740px;
    }

    .opinion__title {
        font-size: 35px;
    }

    .opinion__text {
        font-size: 14px;
    }

    .advantage__inner {
        padding: 0 70px;
    }

    .advantage__title {
        font-size: 35px;
    }

    .advantage__content {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }

    .advantage__card {
        width: 100%;
    }

}

@media (max-width: 1250px) {

    .banner {
        /* background: url(../img/bg/banner\ h\ .png) 70%/ cover no-repeat; */
        max-height: 800px;

    }


    .banner__title {
        font-size: 46px;
        margin-bottom: 30px;
        max-width: 650px;
    }

    .banner__text {
        font-size: 19px;
        max-width: 400px;
        margin-bottom: 60px;
    }

    .opinion__title {
        font-size: 30px;
    }

    .opinion__text {
        max-width: 430px;
    }

}

@media (max-width: 1200px) {

    .banner {
        /* background: url(../img/bg/banner\ h\ .png) 70%/ cover no-repeat; */
        max-height: 800px;
    }

    .banner__title {
        font-size: 40px;
        max-width: 500px;
    }

    .banner__text {
        font-size: 16px;
        max-width: 350px;
        margin-bottom: 55px;
    }

    .banner__button {
        width: 179px;
        height: 50px;
        border-radius: 3px;
        font-size: 20px;
    }

    .main__opinion {
        background: none;
        background: #f5f5f5;
        height: auto;
    }

    .opinion__title {
        font-size: 40px;
    }

    .opinion__text {
        font-size: 16px;
        max-width: 1080px;
        padding-bottom: 150px;
    }

    .advantage__title {
        font-size: 40px;
    }


}


@media (max-width: 1100px) {
    .banner {
        max-height: 600px;
    }

    .banner__content {
        padding-top: 140px;
    }

    .banner__title {
        font-size: 39px;
    }

    .card__inner {
        padding: 19px 25px 15px;
    }

    .card__text {
        margin-right: 15px;
    }

    .advantage__advant img {
        width: 74px;
        height: 74px;
    }

    .advantage__titletitle {
        font-size: 18px;
    }

    .advantage__text {
        font-size: 16px;
    }

    .offers__inner {
        padding: 0 70px;
    }

    .offers__title {
        font-size: 40px;
    }

    .choice__slide {
        height: 35px;
    }

    .choice__link {
        font-size: 16px;
    }

    .dropdown {
        margin-left: 656px;
    }

    .product-text {
        font-size: 18px;
        margin: 10px 12px;
        max-width: 280px;
    }

    .price {
        grid-template-columns: 1fr 0fr;
    }

    .text {
        font-size: 20px;
        max-width: 83px;
        margin: 0 35px 8px 12px;
    }

    .text svg {
        width: 10px;
        height: 10px;
    }

    .default-text {
        margin-left: 12px;
    }

    .text-2 {
        max-width: 88px;
        height: 30px;
        font-size: 23px;
        margin: 0 12px 11px 0;
    }

    .text-3 {
        font-size: 35px;
        margin: 0 35px 12px 9px;
    }

    .text-4 {
        max-width: 84px;
        font-size: 20px;
        margin: 0;
    }

    .counter {
        display: none;
    }

    .basket-button {
        flex-grow: 1;
    }



}






@media (max-width: 1000px) {

    .header__top {
        max-height: 90px;
    }

    .banner {
        max-height: 550px;
    }

    .banner__title {
        font-size: 32px;
        max-width: 400px;
    }

    .banner__text {
        font-size: 14px;
        max-width: 300px;
    }

    .card__inner {
        padding: 19px 25px 15px;
    }

    .card__down {
        padding-top: 5px;
    }

    .card__text {
        margin-right: 10px;
    }

}

@media (max-width: 900px) {
    .burger-wrapper {
        width: 40px;
        height: 40px;
    }

    .burger-icon svg {
        width: 40px;
        height: 40px;
        padding-top: 5px;
    }


    .header__logo {
        width: 142px;
        height: 60px;
    }

    .bag svg {
        width: 40px;
        height: 40px;
    }

    .header__inner {
        padding: 10px 55px 8px;
        gap: 40px;
    }

    .banner__inner {
        padding: 0px 55px;
    }


    .banner {
        /* max-height: 450px; */
        /* margin-bottom: 60px; */
    }

    .banner__content {
        padding-top: 90px;
    }

    .catalog__inner {
        padding: 0 55px;
    }

    .card__inner {
        padding: 19px 20px 15px;
    }

    .card__text {
        margin-right: 10px;
    }

}



@media (max-width: 800px) {
    .banner {
        max-height: 400px;
        background-position-x: -44px;
        background-position-y: 12px;

    }

    .banner__title {
        font-size: 30px;
    }

    .nav__link {
        font-size: 16px;
    }

    .bag::before {
        width: 15px;
        height: 15px;
        right: -3px;
    }

    .banner {
        margin-bottom: 70px;
    }

    .banner__content {
        padding: 63px 150px 121px 0;
    }

    .banner__title {
        max-width: 363px;
        margin-bottom: 20px;
    }

    .banner__text {
        font-size: 12px;
        max-width: 253px;
        margin-bottom: 40px;
    }

    .banner__button {
        max-width: 141px;
        height: 36px;
    }

    .banner__button {
        font-size: 16px;
        width: 141px;
        height: 36px;
    }

    .catalog {
        margin-bottom: 70px;
    }

    .card__inner {
        padding: 19px 15px 15px;
    }

    .main__opinion {
        margin-bottom: 70px;
    }

    .opinion__inner {
        padding: 0 55px;
    }

    .opinion__content {
        margin-top: 70px;
        max-height: 278px;
        margin-bottom: 70px;
    }

    .opinion__title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .opinion__text {
        font-size: 12px;
        max-width: 627px;
        padding: 0;
    }

    .advantage__inner {
        padding: 0 55px;
    }

    .advantage__title {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .advantage__content {
        margin-bottom: 70px;
    }

    .advantage__card {
        width: 304px;
        height: 190px;
        padding: 18px 54px 30px;
    }

    .advantage__advant img {
        margin-bottom: 11px;
    }

    .advantage__titletitle {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .advantage__text {
        font-size: 12px;
    }

    .offers {
        padding-top: 70px;
    }

    .offers__inner {
        padding: 0 55px;
    }

    .offers__title {
        font-size: 30px;
    }

    .choice {
        padding-top: 21px;
        padding-bottom: 20px;
    }

    .choice-slide {
        padding: 5px 12px;
        width: auto;
        height: 28px;
    }

    .choice__link {
        text-wrap: nowrap;
        font-size: 11px;
    }

    .dropdown {
        margin-left: 429px;
        margin-bottom: 30px;
    }

    .dropbtn {
        max-width: 191px;
        height: 30px;
        font-size: 12px;
        padding-block: 0px;
        padding-inline: 0px 5px;
    }

    .dropbtn svg {
        margin-left: 14px;
        margin-top: 7px;
    }

    .dropdown-content {
        max-width: 191px;
    }

    .dropdown-content a {
        font-size: 12px;
        max-width: 191px;
        height: 30px;
    }

    .mySwiper-wrap {
        max-height: 750px;
    }

    .product-card {
        width: 196px;
        height: 360px;
    }

    .product-text {
        font-size: 12px;
        max-width: 172px;
        height: 48px;
    }

    .card {
        width: 196px;
        height: 360px;
    }

    .text:hover .hover-text {
        margin-left: 10px;
    }

    .text {
        font-size: 12px;
    }

    .text svg {
        width: 8px;
        height: 8px;
    }

    .text-2 {
        width: 56px;
        height: 22px;
        font-size: 16px;
    }

    .text-3 {
        font-size: 20px;
    }

    .text-4 {
        font-size: 12px;
    }

    .basket-button {
        max-width: 196px;
        height: 36px;
        font-size: 16px;
    }

    .mySwiper-nav {
        margin-top: 40px;
        padding-bottom: 70px;
    }

    .icon-btn {
        width: 36px;
        height: 36px;
        padding-block: 5px;
    }

    .icon-btn svg {
        width: 24px;
        height: 24px;
    }

    .mySwiper-prev {
        margin-right: 10px;
    }

    .mySwiper-next {
        margin-right: 15px;
    }

    .mySwiper-pagination {
        font-size: 16px;
        margin-top: 7px;
    }

    .feedback__inner {
        padding: 0 55px;
    }

    .feedback__title {
        font-size: 26px;
        margin-top: 70px;
        margin-bottom: 20px;
    }

    .feedback__name {
        width: 60px;
        height: 36px;
        margin-right: 102px;
    }

    .feedback__rating {
        width: 60px;
        height: 36px;
    }

    .star svg {
        width: 11px;
        height: 11px;
    }

    .feedback__button {
        width: 199px;
        height: 36px;
        font-size: 16px;
        padding-block: 7px;
        padding-inline: 35px;
    }

    .feedback__line {
        margin-top: 20px;
    }

    .feedback__pag-name {
        font-size: 14px;
    }

    .feedback__content {
        max-width: 320px;
    }

    .feedback__content-title {
        max-width: 467px;
        font-size: 14px;
        margin-bottom: 6px;
    }

    .feedback__data {
        padding: left 0;
        font-size: 12px;
    }

    .feedback__content-text {
        font-size: 12px;
        max-width: 467px;
    }

    .feedback-list__item {
        padding-top: 20px;
    }

    .feedback__gallery a {
        width: 61px;
        height: 61px;
    }

    .feedback-list {
        margin-bottom: 40px;
    }

    .feedback-button {
        width: 196px;
        height: 36px;
        font-size: 16px;
        margin: 0 auto 70px;
    }

    .feedback-button__img {
        margin-left: 18px;
    }

    .feedback-button__img svg {
        width: 100%;
        width: 15px;

    }

    .faq__inner {
        padding: 0 55px;
    }

    .faq__title {
        padding-top: 70px;
        font-size: 26px;
        margin-bottom: 40px;

    }

    .accordion-list {
        padding-bottom: 70px;
        max-width: 628px;
    }

    .accordion-list__link {
        max-width: 628px;
        padding: 18px 0px;

    }

    .accordion-list__title {
        font-size: 16px;
        max-width: 545px;
    }


    .accordion-list__icon svg {
        width: 30px;
        height: 30px;
    }

    .accordion-list__content {
        font-size: 14px;
        max-width: 545px;
        height: auto;
    }

    .news__inner {
        padding: 0 55px;
    }

    .news__title {
        font-size: 26px;
        margin: 70px 518px 30px 0;
    }

    .news__content {
        max-width: 628px;
        margin-bottom: 40px;
    }

    .content-item {
        max-width: 196px;
    }

    .content-item img {
        width: 196px;
        height: 130px;
        margin-bottom: 12px;
    }

    .content-item__data,
    .content-item__title,
    .content-item__text {
        width: auto;
        height: auto;
    }

    .content-item__data {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .content-item__title {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .content-item__text {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .content-item__link {
        width: 79px;
        height: 16px;
    }

    .main__contact {
        padding: 70px 0;
    }

    .contact__inner {
        padding: 0 55px;
        gap: 20px;
    }

    .contact__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contact__form {
        margin-bottom: 0px;
        max-width: 304px;
    }

    .contact__input {
        font-size: 12px;
        margin-bottom: 7px;
    }

    .input-name {
        width: 100%;
        margin-bottom: 20px;
    }

    .input-tel {
        width: 100%;
        margin-bottom: 40px;
    }

    .contact__title-news {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .input-mail {
        width: 100%;
        margin-bottom: 40px;
    }

    .contact-button {
        width: 180px;
        height: 36px;
        font-size: 16px;
    }

    .contact-button-news {
        width: 153px;
        height: 36px;
        font-size: 16px;
        margin-bottom: 27px;
    }

    .contact__check-label {}

    .contact__checkbox {
        width: 19px;
        height: 19px;
    }

    .contact__checkbox::before {
        background-image: url(../img/icons/Vector\ 59m.svg);
    }

    .checkbox-text {
        font-size: 10px;
    }

    .footer__inner {
        padding: 20px 55px 30px;
    }

    .footer-content {
        gap: 20px;
    }

    .footer__logo {
        margin-bottom: 10px;
    }

    .footer__logo img {
        width: 73px;
        height: 31px;
        margin-bottom: 10px;
    }

    .footer__logo-text {
        font-size: 14px;
        margin-bottom: 10px;
    }


    .footer__col-item-title {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .footer__col-link {
        font-size: 10px;
    }

    .footer__col-grid {
        grid-template-columns: auto;
        gap: 0;
    }

    .footer__col-tel {
        font-size: 14px;
    }

    .footer__col-number {
        margin-top: 6px;
        margin-bottom: 12px;
    }

    .socials__list {
        gap: 10px;
    }

    .socials__link svg {
        max-width: 21px;
    }

    .footer-col-copy {
        font-size: 10px;
    }




}



@media (max-width: 750px) {


    .banner {
        background-color: #DDDDDD;
        background-position: -175px 35px;
        margin-bottom: 30px;
    }

    .banner__content {
        padding: 100px 150px 0 0;
    }

    .banner__title {
        font-size: 28px;
        max-width: 350px;
        margin-bottom: 16px;
    }


    .banner__text {
        max-width: 170px;
        margin-bottom: 30px;
    }

}

@media (max-width: 650px) {
    .header__inner {
        padding: 5px 15px 2px;
        gap: 25px;
    }

    .banner__inner {
        padding: 0px 15px;
    }

    .banner {
        max-height: 410px;
    }

    .banner__content {
        padding: 70px 100px 0 0;
    }


    .banner__title {
        margin-bottom: 16px;

    }
}

@media (max-width: 600px) {
    .header__inner {
        padding: 0px 10px;
    }

    .banner__inner {
        padding: 0px 10px;
    }



}

@media (max-width: 500px) {

    .banner {
        max-height: 360px;
        background-position: -160px 87px;
        background-size: 150%;
    }

    .banner__content {
        padding: 33px 0 0 0;
    }
}


@media (max-width: 400px) {

    .header__inner {
        padding: 0px 5px;
    }

    .header__logo {
        width: 94px;
        height: 39px
    }

    .header__nav {
        min-width: 250px;
        padding-top: 58px;
    }

    .nav__list {
        gap: 20px;
    }

    .nav__link {
        padding: 0;
    }

    .banner {
        max-height: 390px;
    }

    .burger-wrapper {
        width: 30px;
    }

    .burger-icon svg {
        width: 30px;
        height: 43px;
    }

    .burger-icon.active {
        top: 0px;
        left: 200px;
    }

    .bag {
        margin-right: 13px;
    }

    .bag svg {
        width: 24px;
        height: 24px;
    }

    .cart-count {
        width: 9px;
        height: auto;
        font-size: 9px;
        right: -12px;
        top: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }


    .banner__inner {
        padding: 0px 5px;
    }

    .banner__content {
        padding: 50px 80px 0 0;
    }

    .banner {
        background-position: -221px 116px;
        background-size: 180%;
    }

    .banner__content {
        padding: 50px 0 0 0;
    }

    .banner__title {

        margin-bottom: 16px;
    }

    .banner__text {
        max-width: 170px;
        margin-bottom: 30px;
    }

    .banner__button {
        max-width: 141px;
        height: 36px;
    }

    .catalog {
        margin-bottom: 46px;
    }


    .catalog__inner {
        padding: 0px 5px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .catalog__card {
        max-width: 170px;
        height: 235px;
    }

    .main__opinion {
        background-image: none;
        background-color: #f8f8f8;
        height: 468px;
        margin-bottom: 46px;
    }

    .opinion__inner {
        padding: 0px 5px;
    }

    .opinion__content {
        margin-top: 46px;
    }

    .opinion__title {
        font-weight: 600;
        font-size: 20px;
        max-width: 355px;
        text-align: center;
        margin-bottom: 20px;
    }

    .opinion__text {
        font-weight: 300;
        font-size: 12px;
        max-width: 350px;
    }

    .advantage__inner {
        padding: 0 5px;
    }

    .advantage__title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .advantage__content {
        grid-template-columns: repeat(1, minmax(350px, 1fr));
        gap: 10px;
        margin-bottom: 46px;
    }

    .advantage__card {
        display: flex;
        width: 350px;
        height: 116px;
        padding: 16px 243px 26px 33px;
    }

    .advantage__advant img {
        display: block;
        width: 74px;
        height: 74px;
        margin-right: 43px;

    }

    .advantage__cont {
        display: flex;
        flex-direction: column;

    }

    .advantage__titletitle {
        white-space: nowrap;
        font-size: 13px;
        max-width: 193px;
        text-align: start;

    }

    .advantage__text {
        font-size: 12px;
        width: 183px;
        text-align: start;
    }

    .offers {
        padding-top: 46px;
    }

    .offers__inner {
        padding: 0 5px;
    }

    .offers__title {
        font-size: 20px;
        font-weight: 600;
    }

    .choice {
        padding-top: 20px;
        padding-bottom: 17px;
    }

    .choice__slide {
        width: auto;
        height: 28px;
    }

    .choice__link {
        font-size: 12px;
        text-wrap: nowrap;
    }

    .dropdown {
        margin-left: 0px;
    }

    .dropbtn {
        font-size: 12px;
        padding-block: 0px;
        padding-inline: 0px 5px;
        width: 191px;
        height: 30px;
    }

    .dropdown-content a {
        width: 191px;
        height: 30px;
        font-size: 12px;
    }

    .mySwiper-wrap {
        height: 676px;

    }

    .card {
        width: 170px;
        height: 332px;
    }

    .product-text {
        font-size: 10px;
        max-width: 150px;
        height: 42px;
        margin: 12px 10px 11px;
    }

    .price {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        height: 42px;
        margin-bottom: 18px;
    }


    .text {
        font-size: 10px;
        width: 94px;
        height: 15px;
        margin: 0 0 11px 10px;
    }

    .text svg {
        width: 10px;
        height: 10px;
    }

    .text:hover .hover-text {
        margin-left: 5px;
    }

    .text-2 {
        font-size: 15px;
        border-radius: 3px;
        width: 56px;
        height: 20px;
        margin: 0;
        margin-right: 10px;
    }

    .text-3 {
        font-size: 17px;
        margin: 0 7px 11px 10px;
    }

    .text-4 {
        font-size: 12px;
        text-decoration: line-through;
        margin: 14px 10px 17px 0;
    }

    .counter {
        display: none;
    }

    .basket-button {
        border-radius: 3px;
        padding-block: 10px;
        padding-inline: 20px;
        width: 170px;
        height: 36px;
        font-size: 15px
    }

    .mySwiper-nav {
        margin-top: 30px;
        padding-bottom: 46px;
    }

    .mySwiper-prev {
        margin-right: 10px;
    }

    .mySwiper-next {
        margin-right: 16px;
    }

    .icon-btn {
        width: 36px;
        height: 36px;
        padding-top: 6px;
    }

    .icon-btn svg {
        width: 24px;
        height: 23px;
    }

    .mySwiper-pagination {
        font-size: 15px;
        margin-top: 8px;
    }

    .feedback__inner {
        padding: 0 5px;
    }

    .feedback-list {
        margin-bottom: 30px;
    }

    .feedback-list__itemm {
        justify-content: space-between;
    }

    .feedback-cont {
        display: flex;
        flex-direction: column-reverse;
    }

    .feedback-list__item {
        flex-wrap: wrap;
        padding: 0;
    }

    .feedback__name {
        margin: 0;
        height: 0;
    }

    .feedback__pag-name {
        display: flex;
    }

    .star svg {
        width: 15px;
        height: 15px;
    }

    .feedback__title {
        font-size: 20px;
        margin-top: 46px;
        margin-bottom: 16px;

    }

    .feedback__button {
        width: 135px;
        height: 36px;
        font-size: 12px;
        text-wrap: nowrap;
    }



    .feedback__line {
        margin-bottom: 20px;
    }

    .feedback__name {
        width: 100%;
        height: auto;
    }


    .feedback__pag-name {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .feedback__content-title {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .feedback__data {
        padding: 0;
        font-size: 12px;
    }

    .feedback__content-text {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .feedback-button {
        width: 179px;
        height: 36px;
        margin: auto;
        margin-bottom: 46px;
        font-size: 15px;
        text-wrap: nowrap;
    }

    .feedback-button__img {
        margin-left: 14px;
    }

    .feedback-button__img svg {
        width: 100%;
        width: 24px;
        height: 23px;
    }

    .faq__inner {
        padding: 0 5px;
    }

    .faq__title {
        padding-top: 46px;
        font-size: 20px;
        margin-bottom: 38px;
        text-wrap: wrap;

    }

    .faq__title span {
        display: none;
    }

    .accordion-list {
        padding-bottom: 46px;
    }




    .accordion-list__link {
        font-size: 13px;
        align-items: center;
        padding: 16px 18px;
    }

    .accordion-list__title {
        font-size: 13px;
        max-width: 302px;
        flex: auto;
        min-width: 0;
        margin: 0;
        text-wrap: wrap;
    }


    .accordion-list__icon svg {
        width: 100%;
        width: 24px;
        height: 24px;
    }

    .accordion-list__content {
        font-size: 11px;
        width: auto;
    }

    .news__inner {
        padding: 0 5px;
    }

    .news__title {
        font-size: 20px;
        margin: 46px auto 30px;
    }

    .news__content {
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 30px;
    }

    .content-item {
        width: 170px;
    }

    .content-item img {
        width: 170px;
        height: 113px;
        margin-bottom: 10px;
    }

    .content-item__data {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .content-item__title {
        font-size: 12px;
        width: auto;
        margin-bottom: 6px;
    }

    .content-item__text {
        font-size: 10px;
        width: auto;
        margin-bottom: 6px;
    }

    .contact__inner {
        flex-direction: column;
        gap: 46px;
        padding: 0 5px;
    }

    .main__contact {
        padding: 46px 0;
    }

    .contact__form {
        width: 350px;
    }

    .contact__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contact__input {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .input-name {
        width: 100%;
        shape-rendering: crispEdges;
        margin-bottom: 14px;
    }

    .input-tel {
        width: 100%;
        shape-rendering: crispEdges;
        margin-bottom: 36px;
    }

    .contact-button {
        font-size: 15px;
        width: 170px;
        height: 36px;
    }

    .contact__title-news {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .input-mail {
        width: 100%;
        shape-rendering: crispEdges;
        margin-bottom: 36px;
    }

    .contact-button-news {
        font-size: 15px;
        width: 170px;
        height: 36px;
        margin-bottom: 16px;
    }

    .contact__check-label {
        max-width: 279px;
    }


    .checkbox-text {
        font-size: 10px;
        max-width: 243px;
        height: 24px;


    }

    .contact__checkbox {
        width: 19px;
        height: 19px;
        margin-right: 10px;
    }

    .contact__checkbox::before {
        background: url("../img/icons/Vector\ 59\ \(Stroke\).svg") 50% 50% no-repeat;

    }

    .footer__inner {
        padding: 16px 5px 0;
    }

    .footer-content {
        flex-wrap: wrap;
        column-gap: 48px;
        row-gap: 16px;
    }

    .footer__logo img {
        width: 110px;
        height: 46px;
        margin-bottom: 6px;
    }

    .footer__logo-text {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .footer__col-item-title {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .footer__col-link {
        font-size: 10px;
        text-wrap: nowrap;
    }

    .footer__col-grid {
        column-gap: 45px;
    }

    .footer__col-tel {
        font-size: 12px;
        width: 105px;
        height: 36px;
    }

    .socials {
        margin-bottom: 16px;
    }

    .socials__list {
        gap: 8px;
        margin-top: 18px;
    }

    .socials__link svg {
        width: 18px;
        height: 18px;
    }

    .footer__col-number {
        margin-top: 5px;
        margin-bottom: 18px;
    }

    .footer-col-copy {
        font-size: 10px;
        margin-bottom: 20px;

    }

}