:root {
    --general-text: #312c27;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #ffe0cb;
    --accent-color: #ffa55c;


}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 3px 15px;
    height: 62px;

    transition: all .4s;
}

.button:hover {
    background: #ff9138;

}

/* ========================================================================================= */

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
    /* этот элемент должен занимать весь родитетель, поэтому прописываем cover (размер bg)
    указываем позицию 50% ( по X), чтобы при адаптиве всегда был виден центр страницы(фон)
    и 100% (по Y), чтобы низ bg всегда отлично стоял на заднем фоне( углы не срезались) */
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    /* выравнивание не center , выравнивание идет по центру самого текста (логотипа и текста нав.)*/
    justify-content: space-between;

}

.header__logo {
    max-width: 174px;
}

.nav {}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__item {}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

/* копирование классов в ссs -> ctrl+alt+E 
alt - в фигме просмотр размеров между элементами*/
.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    color: #b197b2;
    text-transform: uppercase;
    /* все буквы в верхнем регистре (св-во) */
    line-height: 1.6;
    /* (не стандартное значение 160%, но записываем индексное значение(для гибкости) */
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #b197b2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    font-family: "Gabriola";
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
    /* создаем mix(hero__button) для кнопки, т.к. по макету размер у кнопок разный (остальные св-ва одни и те же, записываем в общий класс)*/
}

.hero__img {
    margin-right: 247px;
    position: relative;

}

.hero__img-control {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px); 
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}

.hero__img-button {
    flex-shrink: 0; 
    /* св-во, которое не дает сжиматься элементу при нехватке места(в контейнере)) */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--accent-bg);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    position: relative;  
    /* относительно этого элемента будем позиционировать */
}
.hero__img-button img { 
    /* прописываем отдельно для изображения иконки(, но в контексте кнопки) */
padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}
